
.product-detail-container{
    display: flex;
    width: 1000px;
    margin: 50px auto;
    flex-wrap: wrap;
    gap: 50px;
    

}
.img-container{
    width: 30%;
}
.img-container img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.detail-container{
    width: 60%;
}
.product-name{
    font-size: 40px;
    margin-top: 30px;
}
.rating{
    background-color: rgb(255, 246, 114);
    width: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.rating p{
    font-weight: bold;
}
.star-png{
    width: 20px;
    padding: 5px;
}
.product-price{
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
}
.product-mrp{
    font-size: 20px;
    color: #454545;
}
.about{
    padding: 10px;
    font-size: 25px;
}
.product-description{
    padding: 10px;
    font-size: 20px;
    color: #454545;
}